{% extends 'BC_core/layout.html' %}
    {% block unique_content %}
        <table border="1">
            <tr>
                <th>Высота блока</th>
                <th>Хэш блока</th>
                <th>Время блока</th>
                <th>Адрес майнера</th>
                <th>Количество транзакций в блоке</th>
            </tr>
            {% for block in blocks %}
                <tr>
                    <td><a href="{% url 'block_height' block.id %}">{{ block.id }}</a></td>
                    <td>{{ block.hash_block }}</td>
                    <td>{{ block.time }}</td>
                    <td>{{ block.miner_address }}</td>
                    <td>{{ block.num_of_transaction }}</td>
                </tr>
            {% endfor %}
        
        {% include "BC_core/pagination.html" with page=blocks %}

    {% endblock unique_content %}

